lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

# App artifacts
_build/
db/
deps/
/*.ez

users.dets

.git
.idea

coverage
pids
logs
results

npm-debug.log
node_modules

.dockerignore
docker-compose.yml
Dockerfile
