{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "global-require": 0,
    "max-len": 0,
    "no-console": 0,
    "object-curly-spacing": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "semi": 2
  },
  "globals": {
    "document": true,
    "window": true
  }
}
